.DS_Store

# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# project
.Rproj
# RStudio files
.Rproj.user/*
# Mac defaults
results/.DS_Store

# data and docs
data/*
documentation/*
meeting\ notes/*
wave1labels.rds


#manuscript
manuscript/*
.Rproj.user
